* {
    box-sizing: border-box;
    margin: 0;
    
}
head {
    display: none;
}

body {
    background: url(galaxy.jpg);
    background-size:cover;
    background-position: center;
    display:block;
}

header {
    display: block;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #a50feb;
    color: whitesmoke;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .han {
    color: #deaef7;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
    .picture {
        align-items: center;
        padding-top: 15px;
        padding-left: 20px;
        width: 113px;
    }
.content {
    display:flex;
    width: 100%;
}
header nav ul :hover {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

a {
    color: whitesmoke;
    text-decoration: underline;
}

p {
    font-size: 16px;
}
    .hero {
        height: 200px;
        width: 100%;
        margin-bottom: -216px;
        
    }

.top {
    height: 20px;
    width: 100%;
    margin-bottom: 25px;
   
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.About-Me {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.Projects {
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    list-style-type: none;
}
.projects2 {
    list-style-type: none;
    padding: 10px;
}
.Contact-Me {
     margin-bottom: 20px;
    padding: 15px;
    height: 300px;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}



.About-Me img {
    max-height: 200px;
    max-width: 400px;
}

.Projects img {
    width: 500px;
}
  
.projects2 img {
    width: 200px;
    list-style-type: none;
}

.Contact-Me img {
    height: 200px;
    width: 400px;
    background-color: #0072bb;
}

.About-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Projects h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Contact-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: whitesmoke;
    
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(galaxy.jpg);
        background-size: cover;
        background-position: center;
}

.footer h2 {
    font-size: 20px;
    
}
@media screen and (max-width: 992px) {
    .header {

      font-size: 80px;
  }
}
@media screen and (max-width: 768px) {
    main {
        display: flex;
        font-size: 14px;
        color: red;
        font-family: serif;
        align-items: center;
  }
}
